.main {
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(1, 0, 73), rgb(0, 0, 0));
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    transition: 0.6s;
    z-index: 1;
    user-select: none;
}
.main:hover {
    box-shadow: inset 1px 1px 3px rgb(34, 130, 255),
        2px 2px 5px rgba(251, 255, 0, 0.5);
}
.mainLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    cursor: pointer;
    margin: 0px 3px;
}
.mainLeft div {
    margin: 0px 10px;
    color: rgb(255, 238, 0);
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 25px;
    transition: 0.5s;
    font-family: "Segoe Print";
}
.mainLeft div:hover {
    transform: scale(1.1);
}
.mainLeft img {
    width: 50px;
    transition: 0.8s;
}
.mainLeft img:hover {
    transform: rotate(-360deg);
}
.mainRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.mainRightLink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 10px;
    color: rgb(0, 110, 255);
    transition: 0.5s;
    font-family: "Segoe Print";
}
.mainRightLink:hover {
    color: rgb(255, 238, 0);
    cursor: pointer;
}

.options {
    position: absolute;
    top: 110%;
    right: 130px;
    background: linear-gradient(
        to left,
        rgb(0, 0, 0),
        rgb(1, 0, 73),
        rgb(0, 0, 0)
    );
    border-radius: 20px;
    color: blue;
    cursor: auto;
    box-shadow: 0px 0px 8px rgb(0, 60, 255);
}
.options div {
    border: 1px solid rgb(0, 102, 255);
    border-radius: 50px;
    transition: 0.2s;
    text-align: center;
    padding: 2px 10px;
    margin: 10px;
    cursor: pointer;
}
.options div:hover {
    color: rgb(255, 238, 0);
    transform: scale(1.05);
    border: 1px solid rgb(255, 238, 0);
}
.linkOption {
    text-decoration: none;
    color: blue;
}

@media screen and (min-width: 100px) and (max-width: 700px) {
    .main {
        top: -1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        margin: 0px;
        border-radius: 0px ;
        gap: 3vh;
        box-shadow: none;
        background: linear-gradient(
            to right,
            rgb(56, 53, 255),
            rgb(125, 203, 255),
            rgb(56, 53, 255)
        );
        box-shadow: 0px 1px 5px black;
    }
    .main:hover {
        box-shadow: none;
    }

    .mainLeft {
        margin: 0px 10px;
    }
    .mainLeft div {
        font-size: 30px;
        text-shadow: 1px 1px 2px black;
    }
    .mainLeft img {
        width: 50px;
    }
    .mainRight {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .mainRightLink {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0px 10px;
        color: black;
        transition: 0.5s;
        font-family: "Segoe Print", Arial, sans-serif;
        font-size: large;
        gap: 5px;
    }
    .mainRightLink:hover {
        color: rgb(255, 238, 0);
        cursor: pointer;
    }
    .options {
        position: absolute;
        top: 100%;
        right: 10%;
        width: 80%;
        background: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.5),
            rgba(1, 0, 73, 1),
            rgba(0, 0, 0, 0.5)
        );
        border-radius: 15px;
        color: blue;
        cursor: auto;
        box-shadow: 0px 0px 10px rgb(0, 157, 248);
        border: none;
    }
    .options div {
        border: none;
        background: linear-gradient(
            to right,
            rgb(125, 203, 255),
            rgb(56, 53, 255),
            rgb(125, 203, 255)
        );
        border-radius: 10px;
        transition: 0s;
        text-align: center;
        padding: 8px;
        margin: 10px;
        cursor: pointer;
        color: yellow;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    .options div:hover {
        color: rgb(255, 238, 0);
        transform: none;
        border: 1px solid rgb(255, 238, 0);
    }
}

@media screen and (width<= 550px) {
    .mainRightLink {
        font-size: small;
    }
}
