.hmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
}
.searchBar {
    align-self: center;
    font-family: "Segoe Print";
    border-radius: 50px;
    margin-top: 10px;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #060058;
    gap: 10px;
    padding: 10px 10px;
    box-shadow: 1px 1px 3px black;
}
.searchBar:hover {
    border: 1px solid blue;
}
.searchBar input {
    height: 0px;
    padding: 10px;
    border: none;
    font-size: 15px;
    outline: none;
    color: blue;
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid gray;
}
.searchIcon {
    color: gray;
    padding: 0px 10px;
    transition: 0.1s;
}
.searchIcon:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.2);
}
.waiting {
    margin-top: 50px;
    align-self: center;
    color: blue;
    text-align: center;
    font-family: "Segoe Print";
}
.loadd {
    width: 900px;
    height: 50px;
    align-self: center;
}
.hmmain {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(1, 0, 73));
    margin: 40px 20px;
    color: red;
    padding: 20px;
    text-align: center;
    font-size: larger;
    font-family: "Segoe Print";
    border-radius: 20px;
    user-select: none;
}
@media screen and (min-width: 100px) and (max-width: 700px) {
    .hmmain {
        background: linear-gradient(
            to right,
            rgb(56, 53, 255),
            rgb(125, 203, 255),
            rgb(56, 53, 255)
        );
        border-radius: 10px;
        color: blue;
    }
    .searchBar {
        margin-top: 15px;
        gap: 0px;
        min-width: 85%;
        justify-content: space-between;
        background: linear-gradient(
            to right,
            rgb(125, 203, 255),
            rgb(56, 53, 255),
            rgb(125, 203, 255)
        );
        box-shadow:none;
        border-radius: 10px
    }
    .searchBar:hover {
        border: none;
        box-shadow: inset 1px 1px 3px #ffffff, 1px 1px 3px rgb(0, 48, 119);
    }
    .searchBar input {
        min-width: 75%;
        border-right: none;
        color: blue;
    }
    .searchBar input::placeholder {
        color: blue; 
        text-shadow: none;
        opacity: 0.5;
    }
    .searchIcon {
        color: blue;
        opacity: 0.5;
        transition: 0.3s;
    }
    .searchIcon:hover {
        color: blue;
        cursor: pointer;
        transform: scale(1.1);
        opacity: 1;

    }
    .waiting {
        color: #00d9ff;
    }
}
