.cmain {
    margin: 20px;
    border-radius: 40px;
    background: linear-gradient(
        to right,
        rgb(1, 0, 73),
        rgb(0, 0, 0),
        rgb(1, 0, 73)
    );
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.cmain:hover {
    box-shadow: inset 1px 1px 3px rgb(34, 130, 255), 2px 2px 5px rgb(0, 0, 0);
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topLeft {
    text-align: center;
    max-height: 500px;
    max-width: 50%;
    margin: 20px;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.topLeft:hover {
    transform: scale(1.03);
}
.responsiveImg {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
}
.topLeftv {
    height: 50vh;
    width: 50%;
    margin: 20px;
    border-radius: 30px;
    overflow: hidden;
    align-self: center;

}
.responsiveVid {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.topRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.crossBar {
    max-width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.DateBar {
    color: rgb(0, 119, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    margin: 7px 10px;
    user-select: none;
}
.crossBar div {
    background-color: #060058;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.crossBar div:hover {
    box-shadow: inset 1px 1px 3px #6c7bff, 2px 2px 3px rgb(0, 0, 0);
}
.titleBar {
    width: 100%;
    height: 70%;
    text-align: center;
    align-content: center;
    color: rgb(0, 119, 255);
    overflow: hidden;
    font-family: "Segoe Script";
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    transition: 0.5s;
    font-size: xx-large;
    user-select: none;
}
.titleBar:hover {
    transform: scale(1.05);
}
.clike {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
}
.clike h5 {
    color: skyblue;
}
.details {
    background-color: #060058;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    color: rgb(0, 217, 255);
    user-select: none;
    transition: 0.2s;
    font-family: "Segoe Print";
}
.details:hover {
    box-shadow: inset 1px 1px 3px #6c7bff, 2px 2px 3px rgb(0, 0, 0);
}
.like {
    background-color: #060058;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.like:hover {
    box-shadow: inset 1px 1px 3px #6c7bff, 2px 2px 3px rgb(0, 0, 0);
}
.likeIcon {
    font-size: xx-large;
}
.comment {
    background-color: #060058;
    height: 50px;
    width: 60px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.comment:hover {
    box-shadow: inset 1px 1px 3px #6c7bff, 2px 2px 3px rgb(0, 0, 0);
}
.commentIcon {
    font-size: xx-large;
    color: blue;
}
.mainCom {
    user-select: none;
    margin: 0px 20px 20px 20px;
    text-align: left;
    font-size: 20px;
    color: rgb(0, 119, 255);
    padding: 10px;
    border-radius: 30px;
    font-family: "Segoe Print";
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: #002e63;
}
.label {
    text-align: center;
    text-shadow: 2px 2px 1px black;
}
.commSec {
    border: 1px solid rgb(0, 47, 255);
    margin: 5px;
    text-align: left;
    font-size: 20px;
    color: rgb(0, 119, 255);
    padding: 10px;
    border-radius: 20px;
    font-family: "Segoe Print";
    background: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(1, 0, 73),
        rgb(0, 0, 0)
    );

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.delCom {
    color: black;
    border: none;
    background-color: red;
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 15px;
    cursor: pointer;
}
.delCom:hover {
    color: red;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 1);
}
.comName {
    color: yellow;
    font-family: system;
}
.comComm {
    padding: 0px;
    padding: 0px 10px;
    margin: 0px;
}
.postComment {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}

.namecom {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: yellow;
    font-size: 15px;
    max-width: 10%;
    flex: 0 0 10%;
    border: 1px solid blue;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

.wcom {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: rgb(0, 217, 255);
    font-size: 15px;
    border: 1px solid blue;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    flex: 1;
}

.postCommentNew {
    text-align: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commIcon {
    color: blue;
    font-size: 40px;
    flex: 0 0 auto;
}

.commIcon:hover {
    color: rgb(0, 217, 255);
    cursor: pointer;
}
.bottom {
    border: 1px solid rgb(0, 47, 255);
    margin: 0px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 119, 255);
    padding: 10px;
    border-radius: 30px;
    font-family: "Segoe Print";
    display: flex;
    flex-direction: column;
}
.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.links a {
    text-decoration: none;
    color: red;
    border: 1px solid rgb(0, 47, 255);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    margin: 10px;
    font-family: "MV Boli";
}
.links a:hover {
    background-color: rgb(0, 10, 53);
}
.imain {
    color: red;
    font-family: "Segoe Print";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(1, 0, 73));
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    border: 1px solid blue;
}
.wait {
    align-self: center;
    color: blue;
    text-align: center;
}
.cancel {
    color: blue;
    background-color: #060058;
    color: rgb(0, 217, 255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0px;
}
.cancel:hover {
    border: 1px solid blue;
}
.delete {
    color: blue;
    background-color: #060058;
    color: rgb(0, 217, 255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0px;
}
.delete:hover {
    border: 1px solid red;
    color: red;
}
.load {
    width: 250px;
    height: 60px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}
.titleUp {
    color: rgb(255, 238, 0);
    text-shadow: 2px 2px rgb(0, 0, 0);
    align-self: center;
}
.detailUp {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
    color: rgb(0, 217, 255);
    background-color: #060058;
}
.detailUp:hover {
    border: 1px solid blue;
    border-radius: 10px;
}
.linksUp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    margin: 10px;
    justify-content: flex-start;
    gap: 5px;
}
.heading {
    color: blue;
    align-self: flex-start;
}
.box {
    height: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
    color: rgb(0, 217, 255);

    background-color: #060058;
    margin-bottom: 5px;
}
.box:hover {
    border: 1px solid blue;
    border-radius: 10px;
}
.updateBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.canelPost {
    color: blue;
    background-color: #060058;
    color: rgb(0, 217, 255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px 10px;
    width: 38%;
}
.canelPost:hover {
    border: 1px solid blue;
}
.updatePost {
    color: blue;
    background-color: #060058;
    color: rgb(0, 217, 255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px 10px;
    width: 38%;
}
.updatePost:hover {
    border: 1px solid rgb(255, 251, 0);
    color: rgb(255, 251, 0);
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .titleBar {
        font-size: x-large;
    }
    .DateBar {
        font-size: small;
    }
    .links a {
        max-width: 90%;
        overflow: hidden;
    }
}

@media screen and (min-width: 100px) and (max-width: 700px) {
    .cmain {
        margin: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        background: linear-gradient(
            to right,
            rgb(56, 53, 255),
            rgb(125, 203, 255),
            rgb(56, 53, 255)
        );
    }
    .cmain:hover {
        box-shadow: none;
    }
    .top {
        display: flex;
        flex-direction: column;
    }
    .topLeft {
        text-align: center;
        max-height: 100%;
        max-width: 100%;
        margin: 10px;
        border-radius: 10px;
    }
    .topLeft:hover {
        transform: none;
    }
    .responsiveImg {
        max-width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .topLeftv {
        align-self: center;
        width: 94%;
        max-height: 24vh;
        margin: 10px;
        border-radius: 10px;
    }
    .responsiveVid {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .topRight {
        width: 100%;
        margin: 0px;
    }
    .crossBar {
        border-radius: 10px;
        padding: 5px 5px;
        margin: 10px;
        background: linear-gradient(
            to right,
            rgb(125, 203, 255),
            rgb(56, 53, 255),
            rgb(125, 203, 255)
        );
        height: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    .DateBar {
        font-size: small;
        color: rgb(0, 217, 255);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    .crossBar div {
        background-color: rgb(39, 108, 255);
        border-radius: 7px;
        margin: 0px;
        transition: 0s;
    }
    .crossBar div:hover {
        box-shadow: none;
        background-color: rgb(0, 81, 255);
        font-size: 13px;
    }
    .titleBar {
        color: rgb(255, 238, 0);
        order: -1;
        font-size: x-large;
        padding: 5px;
    }
    .clike {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 5px 0px 5px;
        padding: 0px 5px;
        gap: 0px;
    }
    .details {
        align-self: center;
        background: linear-gradient(
            to right,
            rgb(125, 203, 255),
            rgb(56, 53, 255),
            rgb(125, 203, 255)
        );
        height: 35px;
        border-radius: 10px;
        margin: 0px;
        box-shadow: inset 1px 1px 3px #ffffff, 2px 2px 3px rgb(43, 112, 216);
    }
    .details:hover {
        box-shadow: inset 1px 1px 3px #ffffff, 2px 2px 3px rgb(0, 102, 255);
    }
    .like {
        align-self: center;
        height: 35px;
        width: 50px;
        margin: 0px 5px 0px 0px;
        background-color: #00000000;
        box-shadow: inset 1px 1px 3px #ffffff, 1px 1px 3px rgb(29, 191, 255);
        border-radius: 10px;
    }
    .like:hover {
        box-shadow: inset 1px 1px 3px #ffffff, 1px 1px 3px rgb(29, 191, 255);
    }

    .likeIcon {
        font-size: x-large;
    }

    .bottom {
        border: none;
        margin: 0px 10px 10px 10px;
        text-align: left;
        font-size: 15px;
        color: blue;
        background: rgb(162, 218, 255);
        padding: 10px;
        border-radius: 10px;
        font-family: "Segoe Print";
        display: flex;
        flex-direction: column;
    }
    .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .links a {
        max-width: 80%;
        overflow: hidden;
        text-decoration: none;
        color: red;
        border: 1px solid rgb(0, 47, 255);
        border-radius: 20px;
        padding: 2px 5px;
        font-size: 12px;
        margin: 5px;
        font-family: "MV Boli";
    }
    .imain h3 {
        font-size: large;
        text-align: center;
    }

    .imain {
        background: linear-gradient(
            to right,
            rgb(0, 0, 0),
            rgb(1, 0, 73),
            rgb(0, 0, 0)
        );
        padding: 10px;
        margin: 0px;
        gap: 5px;
        border: 1px solid rgb(0, 102, 255);
    }
    .updateBtn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .canelPost {
        background-color: #0077ff;
        color: rgb(0, 217, 255);
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .updatePost {
        background-color: #0077ff;
        color: rgb(0, 217, 255);
        border-radius: 5px;
        padding: 3px 10px;
        align-content: center;
    }
    .cancel {
        background-color: #0077ff;
        color: rgb(0, 217, 255);
        border-radius: 5px;
        margin: 10px 0px;
        padding: 3px 10px;
    }
    .delete {
        background-color: #0077ff;
        color: red;
        padding: 3px 10px;
        border-radius: 5px;
    }
    .delete:hover {
        border: 1px solid blue;
    }
    .box {
        height: 15px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid blue;
        color: rgb(0, 217, 255);
        background-color: #002e63;
        margin-bottom: 5px;
    }
    .comment {
        height: 35px;
        width: 50px;
        align-self: center;
        transition: 0.1s;
        background-color: #00000000;
        box-shadow: inset 1px 1px 3px #ffffff, 1px 1px 3px rgb(29, 191, 255);
        border-radius: 10px;
    }
    .comment:hover {
        box-shadow: inset 1px 1px 3px #ffffff, 1px 1px 3px rgb(29, 191, 255);
    }
    .commentIcon {
        font-size: x-large;
        color: #00d9ff;
    }
    .mainCom {
        user-select: none;
        margin: 0px 10px 10px 10px;
        text-align: left;
        font-size: 15px;
        color: rgb(0, 119, 255);
        padding: 5px 0px 5px 0px;
        border-radius: 10px;
        border: none;
        gap: 7px;
        background: linear-gradient(
            to right,
            rgb(125, 203, 255),
            rgb(56, 53, 255),
            rgb(125, 203, 255)
        );
    }
    .label {
        margin: 5px 0px;
        text-align: center;
        text-shadow: none;
        color: rgb(0, 217, 255);
    }
    .commSec {
        border: none;
        margin: 0px 7px;
        text-align: left;
        font-size: 20px;
        color: rgb(0, 217, 255);
        padding: 5px;
        border-radius: 5px;
        background: rgb(1, 0, 73);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .delCom {
        border-radius: 5px;
        padding: 3px 5px;
        font-size: 12px;
        margin-left: 5px;
    }
    .comComm {
        font-size: 13px;
        padding: 0px;
    }
    .comName {
        font-size: 15px;
        color: yellow;
    }

    .postComment {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 8px 8px 4px 8px;
        padding: 0px;
        max-width: 100%;
        border-top: 1px solid gray;
        padding-top: 15px;
        border-radius: 0px;
    }
    .namecom {
        background: rgb(1, 0, 73);
        max-width: 100%;
        outline: none;
        color: yellow;
        font-size: 15px;
        height: 15px;
        border: none;
        border-radius: 5px;
        padding: 7px;
    }
    .wcom {
        background: rgb(1, 0, 73);
        max-width: auto;
        outline: none;
        color: rgb(0, 217, 255);
        font-size: 15px;
        height: 15px;
        border: none;
        border-radius: 5px;
        padding: 7px;
    }
    .postCommentNew {
        border-radius: 5px;
        padding: 5px 0px;
        width: 100%;
        background: linear-gradient(
            to right,
            rgb(78, 75, 255),
            rgb(59, 177, 255),
            rgb(78, 75, 255)
        );
    }
    .commIcon {
        color: blue;
        align-self: center;
        font-size: 20px;
        color: blue;
        border-radius: 50px;
    }
    .commIcon:hover {
        color: rgb(0, 217, 255);
        cursor: pointer;
    }
}
