.rmain {
    width: 80%;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(1, 0, 73));
    color: blue;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: larger;
    font-family: "Segoe Print";
    border-radius: 20px;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-top: 40px;
}
.ricon {
    margin-top: 20px;
    color: #ffee00;
    font-size: 40px;
}
.rinp {
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    position: relative;
    margin: 10px;
}
.rinp input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    color: rgb(0, 217, 255);
    background-color: #060058;
}
.rinp:hover {
    border: 1px solid blue;
    border-radius: 10px;
}
.rbtn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 217, 255);
    background-color: #060058;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    user-select: none;
    transition: 0.2s;
    font-family: "Segoe Print";
    font-size: 15px;
}
.rbtn:hover {
    color: red;
    box-shadow: inset 1px 1px 3px #6c7bff, 2px 2px 3px rgb(0, 76, 175);
}
.loading {
    width: 400px;
    height: 50px;
    align-self: center;
}

@media screen and (min-width: 100px) and (max-width: 700px) {
    .rmain {
        width: 80%;
        background: linear-gradient(
            to right,
            rgb(1, 0, 73),
            rgb(0, 0, 0),
            rgb(1, 0, 73)
        );
        padding: 10px;
        gap: 10px;
    }

    .rinp {
        display: flex;
        align-items: center;
        align-self: center;
        width: 100%;
        position: relative;
        margin: 0px;
    }
    .rinp input {
        font-size: 15px;
    }
    .rbtn {
        height: 40px;
        background: linear-gradient(
            to right,
            rgb(1, 0, 73),
            rgb(0, 66, 141),
            rgb(1, 0, 73)
        );
        transition: 0s;
        color: red;

    }
    .rbtn:hover {
        box-shadow: none;
    }
}
